
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro</title>
</head>
<body>
        @ViewBag.NomeCompleto 
        <br />
        seja bem vienido

    <div>
        <a href="/colaborador/index">Cadastro</a>
    </div>
</body>
</html>
