
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
    <link rel="stylesheet" href="~/Content/Editar.css" />
</head>
<body>

    <label for="campo-nome" id="label-informacao">Alterar</label>
    <form action="/estoque/update" method="post">

        <div class="div-campo">
            <label for="campo-nome">Nome</label>
            <input class="campo" type ="text" name="nome" id="campo-nome" value="@ViewBag.Estoque.Nome"/>
        </div>

        <div class="div-campo">
            <label for="campo-quantidade">Quantidade</label>
            <input class="campo" type="text" name="quantidade" id="campo-quantidade" value="@ViewBag.Estoque.Quantidade" />
        </div>

        <div class="div-campo">
            <label for="campo-valor">Valor</label>
            <input class="campo" type="text" name="valor" id="campo-valor" value="@ViewBag.Estoque.Valor"/>
        </div>

       

        <input type="hidden" name="id" value="@ViewBag.Estoque.Id" />
        <button class="botao" type="submit">Alterar</button>

        
    </form>


</body>
</html>
