
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>

    <form action="/estoque/update" method="post">

        <div>
            <label for="campo-nome">Nome</label>
            <input type="text" name="nome" id="campo-nome" value="@ViewBag.Estoque.Nome"/>
        </div>

        <div>
            <label for="campo-quantidade">Quantidade</label>
            <input type="text" name="quantidade" id="campo-quantidade" value="@ViewBag.Estoque.Quantidade" />
        </div>

        <div>
            <label for="campo-valor">Valor</label>
            <input type="text" name="valor" id="campo-valor" value="@ViewBag.Estoque.Valor"/>
        </div>

        <input type="hidden" name="id" value="@ViewBag.Estoque.Id" />
        <button type="submit">Alterar</button>
    </form>


</body>
</html>
